
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #0f0f1f, #001f3f);
  text-align: center;
  gap: 400px;
  color: #fff;
  top: 0;
  width: 100%;
  box-sizing: border-box;
}
@media screen and (max-width: 980px) {

  .navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #0f0f1f, #001f3f);
  text-align: center;
  gap: 80px;
  color: #fff;
  top: 0;
  width: 100%;
  box-sizing: border-box;
}
.navbar nav ul {
  list-style: none;
  display: flex;
  font-size: 12px;
  gap: 1px;
}
.navbar .logo .white-text {
  color: #ffffff;
  font-size: 12px;
}
.navbar .logo {
  font-size: 12px;
  font-weight: bold;
  color: #8400ff;
}
}

.navbar .logo {
  font-size: 24px;
  font-weight: bold;
  color: #8400ff;
}

.navbar .logo .white-text {
  color: #ffffff;
}

.navbar nav ul {
  list-style: none;
  display: flex;
  gap: 10px;
}

.navbar nav ul li a {
  color: white;
  text-decoration: none;
  padding: 10px;
  font-weight: bold;
  position: relative;
  transition: 0.3s;
}

.navbar nav ul li a::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 4px;
  left: 0;
  bottom: 0;
  background: #00aaff;
  transition: width 0.3s ease;
}

.navbar nav ul li a:hover::after {
  width: 100%;
}
@media screen and (max-width: 534px) {

  .navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #0f0f1f, #001f3f);
  text-align: center;
  gap: 2px;
  color: #fff;
  top: 0;
  width: 100%;
  box-sizing: border-box;
}
.navbar nav ul {
  list-style: none;
  display: flex;
  font-size: 5px;
  gap: 1px;
}
.navbar .logo .white-text {
  color: #ffffff;
  font-size: 5px;
}
.navbar .logo {
  font-size: 5px;
  font-weight: bold;
  color: #8400ff;
}
}
